.Card{
    width:300px;
    height: 480px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px black;
    margin: 15px;
}

.Card-Container{
    justify-content: center;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.upper-container{
    height:100px;
    background: linear-gradient(90deg, rgba(5,73,94,1) 0%, rgba(36,128,157,1) 58%, rgba(62,209,255,1) 100%);}
.image-container img{
    background: white;
    width:100px;
    height:100px;
    border-radius: 50%;
    padding: 5px;
    transform: translate(95px,45px);
}

img{
    border: 2px solid #24809d;
}

.lower-container{
    margin-top: 60px;
    height: 300px;
    background: white;
    text-align: center;
    width: 300px;
    font-family: 'Titillium Web', sans-serif;
    display: block;
}
.update-icon{
margin-right: 5px;
    float: right;
}


.lower-container h3{
    margin:0;
    padding:0;
    color: #2f2d2e;
    font-weight: 600;
    font-size:1.5rem;
}

.lower-container p{
    font-family: sans-serif;
    color: #2f2d2e;
    margin: 1rem;
    width: 270px;
    height: 190px;
    font-size: 0.9rem;
    text-align: left;
    text-overflow: ellipsis;
    display: -webkit-box;
    white-space: normal;
    overflow: hidden;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
}